[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "*"
python-dotenv = "*"
pytest = "*"
pytest-mock = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.12"
